<%- include ./parts/home/header.ejs %>


<a id="homeJoinButton" class="ui button primary" href="<%= client.config.website.links.discord %>">Join</a>

<%- include ./parts/home/informationHeader.ejs %>

<div id="homeCardsHolder">
    <a id="rulesCard" href="/rules">
        <h1>Rules</h1>
        <img src="/img/rules.webp" width="180px">
    </a>

    <!-- <div class="darkBackground" style="width: 180px; height: 180px; font-size: 30%; border: 2px solid white;">
        Members: <%= stats.discord.members %><br>
        Online: <%= stats.discord.online %><br>
        Offline: <%= stats.discord.offline %><br>
        VC: <%= stats.discord.voice %><br>
    </div> -->

    <a id="staffCard" href="/staff">
        <h1>Staff</h1>
        <img src="/img/staff.webp" width="180px">
    </a>
</div>